header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  font-size: 14px;
  font-weight: 600;
  justify-content: space-around;
  grid-template-columns: repeat(6, minmax(0, max-content));
  width: 100%;
  padding: 4px 8px;
  box-sizing: border-box;
}

header.mobile {
  display: none;
}

header.desktop {
  display: grid;
}

header span {
  display: flex;
  z-index: 3;
  position: relative;
  flex: 1 1 0%;

  a {
    text-align: center;
    width: 100%;
    padding: 12px 32px;
    border-radius: 4px;
  }
}
